@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --hue-color: 165;
  --first-color: hsl(var(--hue-color), 60%, 33%);
  --big-font-size: 2rem;
  --font-bold: 800;
  --mb-1: 1rem;
  --z-fixed: 1000;
}
@media screen and (min-width: 968px) {
:root {
  --big-font-size: 3rem;
}
}
body.dark {
  --first-color: #2c2020;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

footer {
  margin-top: auto; 
}
